<h2 class="text-center"><%= museum.name %> </h2>

<div class="image-container">
	<img alt="museum pic" src="<%= museum.image %>" class="reasonable-image-size"> 
</div>

<div class="row">
	<div class="col-6">
		<h3>Description</h3>
		<p>
			<%= museum.name %> is located in <%= museum.city %>, <%= museum.country%>. 
		</p>
		<p>
			Lorem ipsum dolor amet bicycle rights microdosing iPhone, swag echo park occupy next level. Cray fixie activated charcoal bitters typewriter. Truffaut normcore skateboard chambray cold-pressed mixtape chia squid listicle vaporware crucifix drinking vinegar leggings franzen pok pok. Poutine banh mi flexitarian pok pok squid kale chips meditation yuccie marfa. Banjo forage fixie pug chambray lo-fi. Stumptown pitchfork craft beer normcore.	
		</p>
	</div>
	<div class="col-6">
		<h3>Most Famous Pieces</h3>
		<p>content</p>
	</div>
</div>